Title: Home
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron">
    <div class="container">
        <p>A fully object oriented 3D graphics engine using C# and the .Net platform. 
            Axiom 3D aims to be an easy to use, flexible, extendable, and powerful engine that allows for rapid development 
            of games and other graphical applications. By using the .Net framework as the target platform, developers can 
            focus more on core functionality and logic, rather than dealing with the complexities of languages like C++.</p>
        <p>The core of Axiom is a port of the very popular OGRE graphics engine, which was chosen based on its clean 
            object-oriented design, powerful features, and flexibilty. The original port was carried out by Leedgitar, the project founder. </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/docs/getting-started" role="button">Get Started &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <h3>Cross platform</h3>
            <p>
                Axiom 3D is available on Windows, UWP, macOS, iOS, Linux, and Android.
            </p>

            <h3>Cross runtime</h3>
            <p>
                Axiom 3D runs on .NET, .NET Core and Mono.
            </p>

            <h3>Open source</h3>
            <p>
                We believe in open source and so should you. The source code for Axiom 3D is
                <a href="https://github.com/axiom3D/axiom">hosted on GitHub</a> and
                includes everything needed to build it yourself.
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img style="width: 100%;" src="/assets/img/screenshot.png" alt=""/>
        </div>
    </div>
</div>